html {
  font-size: 20px;
}


body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  /* 以下にGoogle Fontsを記載 */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* 以上にGoogle Fontsを記載 */
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

 /* ピンク色「名前」「血液型」「好きな食べ物」 */
.text-pink{
  color: rgb(255, 192, 203);
}

/* スカイブルー「生年月日」「趣味」「プログラミングを始めた理由」 */
.text-blue{
  color: skyblue;
}

#parent > p {
  font-weight: bold;
}
